<div class="container mt-2 bg-light">
    <div class="row bg-white  py-2">
        <div class="col-md-2 align-items-center">
          <img class="img-responsive"  src="assets/images/userimg.JPG" alt="" style="width: 7rem;" >
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-6">
                   
                    <ul class="list-unstyled" >
                        <li class="name-color"> JOHN SMITH</li>
                        <li><small><strong>ID: 2568</strong></small></li>
                        <li> <small>Email: demo@mail.com</small></li>
                       <li><small>Phone: 123456</small></li>
                    </ul>
                    
                </div>
                <div class="col-md-6 text-md-right">
                    <ul class="list-unstyled" >
                        <li> <small>demo@mail.com</small></li>
                       <li><small>123456</small></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
      <nav>
        <div class="nav nav-tabs mb-1 mt-2" id="nav-tab" role="tablist">
          <a class="nav-item nav-link border-0 mr-1 active" id="nav-devices-tab" data-toggle="tab" href="#nav-devices" role="tab" aria-controls="nav-devices" aria-selected="true"><small>DEVICES</small></a>
          <a class="nav-item nav-link border-0  mr-1  " id="nav-reports-tab" data-toggle="tab" href="#nav-reports" role="tab" aria-controls="nav-reports" aria-selected="false"><small>REPORTS</small></a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-devices" role="tabpanel" aria-labelledby="nav-devices-tab">
            <div class="table-responsive">
                <table class="table table-condensed table-hover table-bordered">
                    <thead>
                        <tr>
                          <th scope="col">Device ID</th>
                          <th scope="col">Device Name</th>
                          <th scope="col">Device Category</th>
                          <th scope="col">Device Count</th>
                          <th scope="col">Software</th>
                          <th scope="col">Activation Key</th>
                          <th scope="col">Notes</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                        <td>1</td>
                        <td>XXX</td>
                        <td>XXXXXX</td>
                        <td>XXX</td>
                        <td>XXX</td>
                        <td>XXXX</td>
                        <td>XXXXXX</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>XXX</td>
                            <td>XXXXXX</td>
                            <td>XXX</td>
                            <td>XXX</td>
                            <td>XXXX</td>
                            <td>XXXXXX</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>XXX</td>
                                <td>XXXXXX</td>
                                <td>XXX</td>
                                <td>XXX</td>
                                <td>XXXX</td>
                                <td>XXXXXX</td>
                                </tr>
                        
                      </tbody>
                </table>
              </div>
        </div>
        <div class="tab-pane fade" id="nav-reports" role="tabpanel" aria-labelledby="nav-reports-tab">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Report ID</th>
                          <th scope="col">Report Name</th>
                          <th scope="col">Report Category</th>
                          <th scope="col">Report Count</th>
                          
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                        <td>1</td>
                        <td>XXX</td>
                        <td>XXXXXX</td>
                        <td>XXX</td>
                        
                        </tr>
                        
                      </tbody>
                </table>
              </div>
        </div>
      </div>
</div>