<div class="container">
    <div class="">
        <div class="row">
            <div class="col-md-2">
                <img src="assets/images/renzo-d-souza-MxabbMSLr_M-unsplash.jpg" alt="..." style="height: 8rem;">
            </div>
            <div class="col-md-8">
                <div class="row p-2">
                    <div class="col-md-6"><h6>Sedan</h6></div>
                    <div class="col-md-6 text-right text-secondary">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="p-2">Price</div>
                <div class="row p-2">
                    <div class="col-md-6">
                        <h6>Fuel-Petrol</h6>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-dark rounded-0">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="assets/images/renzo-d-souza-MxabbMSLr_M-unsplash.jpg" alt="..." style="height: 8rem;">
            </div>
            <div class="col-md-8">
                <div class="row p-2">
                    <div class="col-md-6"><h6>Minivan</h6></div>
                    <div class="col-md-6 text-right text-secondary">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="p-2">Price</div>
                <div class="row p-2">
                    <div class="col-md-6">
                        <h6>Fuel-Petrol</h6>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-dark rounded-0">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <img src="assets/images/renzo-d-souza-MxabbMSLr_M-unsplash.jpg" alt="..." style="height: 8rem;">
            </div>
            <div class="col-md-8">
                <div class="row p-2">
                    <div class="col-md-6"><h6>Convertible</h6></div>
                    <div class="col-md-6 text-right text-secondary">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                </div>
                <div class="p-2">Price</div>
                <div class="row p-2">
                    <div class="col-md-6">
                        <h6>Fuel-Petrol</h6>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-dark rounded-0">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>