<nav class="navbar navbar-light bg-dark">
    <div class="container-fluid">
        <h1 class="text-white">Employee List</h1>
        <div class="d-flex">
            <button (click)="clickAddEmployee()" type="button" class="btn btn-secondary m-2" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-plus"></i> Add Employee</button>
            <button type="button" (click)="logout()" class="btn btn-info m-2">LogOut</button>
        </div>
    </div>
</nav>
<Section class="p-3">
    <table class="table mt-3 table-responsive text-center">
        <thead class=" py-5">
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Address</th> 
            <th scope="col">Birth date</th>
            <th scope="col">Mobile</th>
            <th scope="col">City</th>
            <th scope="col">Action</th>
        </thead>
        <tbody>
           <tr *ngFor="let row of employeeData">
            <td>{{row.firstname}}</td>
            <td>{{row.lastname}}</td>
            <td>{{row.address}}</td>
            <td>{{row.dob}}</td>
            <td>{{row.mobile}}</td>
            <td>{{row.city}}</td>
            <td>
                <button class="btn btn-primary m-2" (click)="onEdit(row)" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-edit"></i> Edit</button>
                <button (click)="deleteEmployee(row)" class="btn btn-danger  m-2"><i class="fa fa-trash"></i> Delete</button>
            </td>
           </tr>
        </tbody>
    </table>
</Section>


  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Employee Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="formValue" (ngSubmit)="postEmployeeDetails() " >
          <div class="modal-body">
                  <div class="mb-3"> 
                    <label for="firstname" class="form-label">First name</label>
                    <input type="text" formControlName="firstname" class="form-control" id="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" >
                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                      <div *ngIf="f.firstname.errors.required">First Name is required</div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="lastname" class="form-label">Last name</label>
                    <input type="text" formControlName="lastname" class="form-control" id="lastname" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" >
                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                      <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                    </div>
                  </div>
                  <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <input type="text" formControlName="address" class="form-control" id="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors }">
                    <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                      <div *ngIf="f.address.errors.required">Address is required</div>
                    </div> 
                  </div>
                  <div class="row mb-3">
                    <div class="col"> 
                      <label for="dob" class="form-label">Birth date</label>
                      <input type="date" formControlName="dob"   class="form-control" id="dob" [ngClass]="{ 'is-invalid': submitted && f.dob.errors }">
                      <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                        <div *ngIf="f.dob.errors.required">Birth date is required</div>
                      </div>
                    </div>
                    <div class="col">
                      <label for="mobile" class="form-label">Mobile</label>
                      <input type="text" formControlName="mobile" class="form-control" id="mobile" [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }">
                      <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                        <div *ngIf="f.mobile.errors.required">Mobile Number is required</div>
                        <div *ngIf="f.mobile.errors.minlength">Mobile Number must be 10 characters</div>  
                        <div *ngIf="f.mobile.errors.maxlength">Mobile Number must be 10 characters</div>
                        <div *ngIf="f.mobile.errors.pattern">Mobile Number must be Number</div>
                      </div>
                    </div>
                  </div> 
                  <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" formControlName="city" class="form-control" id="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }">
                    <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                      <div *ngIf="f.city.errors.required">City Name is required</div>
                    </div>
                  </div>      
          </div>
          <div class="modal-footer">
            <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" *ngIf="showAdd"   (click)="postEmployeeDetails()" class="btn btn-primary">Add</button>
            <button type="button" *ngIf="showUpdate" (click)="updateEmployeeDetails()" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>