

<div class="container-fluid sticky-top p-0 ">

    <nav class=" navbar-expand-lg navbar-light bg-white align-items-center p-2">
      
      <a [routerLink]="['']"><img src="assets/images/logo.png" alt=""></a>
        
        <div class="float-right  sidebar_bg ">
            <div class="collapse navbar-collapse bg_color " id="navbarNavAltMarkup">
              
                <div class="navbar-nav text-dark p-2  ">
                  <div class="d-block d-sm-block d-md-block d-lg-none d-xl-none nav-item">
                    <button class="navbar-toggler float-right text_btn_color" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"> X </button>
                  </div>
                  <a class="nav-item nav-link text_color"[routerLink]="['/addtaxi']">ADD TAXI</a>
                  <a class="nav-item nav-link text_color"[routerLink]="['/adddriver']">ADD DRIVER</a>
                  <a class="nav-item nav-link text_color" href="#">BLOGS</a>
                  <a class="nav-item nav-link text_color" href="#">BOOKING</a>
                  <a class="nav-item nav-link text_color" href="#">CONTACT</a>
                  <a class="nav-item nav-link text_color" >LOG OUT</a>
                </div>
              </div>
        </div>
        
        <button class="navbar-toggler float-right " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
    
      </nav>
    
    </div>
    

    