<div class="container-fluid p-3 bg-light">
    <h3>ABOUT US</h3>
   <div class="row">
       <div class="col-md-6">
        <p>
            Oco was founded in August 2020 by Bhavish and Ankit with a mission to build mobility for a billion people.
    
        </p>
        <p>
            Oco was founded in August 2020 by Bhavish and Ankit with a mission to build mobility for a billion people.
    
        </p>
        <p>
            Oco was founded in August 2020 by Bhavish and Ankit with a mission to build mobility for a billion people.
    
        </p>
        <p>
            Oco was founded in August 2020 by Bhavish and Ankit with a mission to build mobility for a billion people.
    
        </p>
       </div>
       <div class="col-md-6 d-none d-md-block d-lg-block d-xl-block">
           <img src="assets\images\kartun-mobil-png-7.png" alt="" style="width: 30rem;">
       </div>
   </div>
</div>
