<app-header></app-header>

<div class="container">
    <div class="">
        <h2> Taxi Booking</h2>
     </div>
    <div class="row p-4">
        <div class="col-md-6">
            <div id="drivername">
                <div><h6>Driver's Name</h6> </div>
                <div>John Doe</div>
            </div>
            <div id="driver_no">
                <div><h6>Driver's Phone</h6> </div>
                <div>48965785239</div>
            </div>
            <div id="driverid">
                <div><h6>Driver's ID</h6> </div>
                <div>123abc</div>
            </div>
        </div>
        <div class="col-md-6">
            <div id="receipt_no">
                <div><h6>Receipt Number</h6> </div>
                <div>001</div>
            </div>
            <div id="taxi_no">
                <div><h6>Taxi Number</h6> </div>
                <div>123</div>
            </div>
        </div>
    </div>
    <div><h3>Passenger Details</h3></div>
    <div class="row p-4 border-bottom">
        
        <div class="col-md-4">
            <div><h6>Name</h6></div>
            <div>Jane</div>
        </div>
        <div class="col-md-4">
            <div><h6>Email</h6></div>
            <div>jane123@gmail.com</div>
        </div>
        <div class="col-md-4">
            <div><h6>Phone Number</h6></div>
            <div>145893657526</div>
        </div>
    </div>
    <div class="row p-4 border-bottom">
        <div class="col-md-4">
            <div><h6>Pick Up Location</h6></div>
            <div>dkfjlsdjflk mumbia</div>
        </div>
        <div class="col-md-4">
            <div><h6>Destination</h6></div>
            <div>jldljlkjlk mumbia</div>
        </div>
        <div class="col-md-4">
            <div><h6>Data & Time</h6></div>
            <div>
                <div>Friday, July 17, 2020</div>
                <div>AM: 12</div>
            </div>
        </div>
    </div>
    <div class="row p-4 ">
        <div class="col-md-6">
            <div><h6>Payment Method</h6></div>
            <div>Cash</div>
        </div>
        <div class="col-md-6">
            <div><h6>Total 35</h6></div>
        </div>
    </div>
</div>