<div class="container">
    <div class="p-2">
        <h3>Taxi Info</h3>
    </div>
        <div class="row">
        <div class="col-md-6">
            <div class="p-1">
                <div><h6>Registration Certificate</h6></div>
                <div>5826</div>
            </div>
            <div class="p-1">
                <div><h6>Insurance</h6></div>
                <div>5826</div>
            </div>
            <div class="p-1">
                <div><h6>Fitness</h6></div>
                <div>5826</div>
            </div>
            <div class="p-1">
                <div><h6>Car Front Image</h6></div>
                <div><img src="assets/images/renzo-d-souza-MxabbMSLr_M-unsplash.jpg" alt="..." style="height: 4rem;"></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-1">
                <div><h6>Permit</h6></div>
                <div>6545</div>
            </div>
            <div class="p-1">
                <div><h6>PUC</h6></div>
                <div>6545</div>
            </div>
            <div class="p-1">
                <div><h6>Car Back Image</h6></div>
                <div><img src="assets/images/renzo-d-souza-MxabbMSLr_M-unsplash.jpg" alt="..." style="height: 4rem;"></div>
            </div>
        </div>
    </div>
    <div class="p-2">
        <h3>Driver Info</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="p-1">
                <div><h6>Driver Name</h6></div>
                <div>6545</div>
            </div>
            <div class="p-1">
                <div><h6>Phone Number</h6></div>
                <div>6545</div>
            </div>
            
        </div>
        <div class="col-md-4">
            <div class="p-1">
                <div><h6>PenCard</h6></div>
                <div>6545</div>
            </div>
            <div class="p-1">
                <div><h6>Police Verification</h6></div>
                <div>6545</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-1">
                <div><h6>Adhar Number</h6></div>
                <div>6545</div>
            </div>
        </div>
    </div>
   
</div>