

.list-group-item{
    border: 0;
}
.bg-color {
    background-color: #151D2E;
    color: white;
}
.bg-color:hover{
    color: #5361A5;
}
.bg-color-active{
  background-color: #151D2E;
  color: #5361A5;
  padding-right: 0;
  border-left:4px solid white !important;
}

body {
    overflow-x: hidden;
  }
  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
  }
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  #page-content-wrapper {
    min-width: 100vw;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }  
  .btn-color{
    background-color: #fff;
    color: black;
}
.fa-filter{
  color: #304BCF;
}
.btn-active{
    color: #f5f6f7;
    background-image: linear-gradient(to right, #5361A5 , #314CCD);
}

  
element.style {
}
.nav-pills .nav-link {
    border-radius: 0.25rem;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
a {
    color: #5461A6;
    text-decoration: none;
    background-color: #fff;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-image: linear-gradient(to right, #5361A5 , #171F32);
}
.nav-tabs .nav-link {
  color: #f5f6f7;
  /* background-color: transparent; */
  background-color: linear-gradient(to right, #5361A5 , #171F32);
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: rgb(107, 133, 186);
  background-color:#191754;
  

}
th{
  font-size: 0.6rem;
}

thead{
  color: #f5f6f7;
  background-color:#5361A5;
}
.fa-sort-up{
  position: relative;
    right: -15px;

}