<div class="container-fluid row bg-dark d-none  text-white m-0 pt-3">
    <div class="col-md-4">
        <h6>ADDRESS</h6>
        <div class="text-sm">
            Gala No.10, Sai Dev Park, Shree Ram Compound, Nandali Talao Village, Purna, Bhiwandi, Maharashtra 421302        </div>
    </div>
    <div class="col-md-4">
       <div class="d-flex ">
        <i class="fas fa-phone p-1"></i><h6>SUPPORT NUMBER (24X7)</h6>
       </div>
       <div>
        <ul class="list-unstyled text-sm ">
            <li>New Booking: +91 8698511512</li>
            <li>Existing Booking: +91 8698511512</li>
            <li>Vendor Helpline: +91 8698511512</li>
            <li>Attach Your Taxi: +91 8698511512</li>
          </ul>
       </div>
      

    </div>
    <div class="col-md-4">
        <h6>KEEP IN TOUCH</h6>
       
    <div >
        <a href="#" class="text-white p-2" title="Facebook">   <i class="fab fa-facebook"></i></a>
        <a href="#" class="text-white p-2" title="Twitter">  <i class="fab fa-twitter"></i></a>
        <a href="#" class="text-white p-2" title="Instagram">    <i class="fab fa-instagram"></i></a>
        <a href="#" class="text-white p-2" title="Whatsapp">    <i class="fab fa-whatsapp"> 8698511512</i></a>
    </div>
    <div>
        <h6>Email</h6>
        <div class="text-sm"><strong>info@ococabs.com</strong></div>
    </div>
    </div>

   
</div>
<div class="text-center bg-dark text-white p-3">
   <a href="#" class="text-white"> &#169; 2020 Ococab . All Right Reserved.  </a>
     <a href="#" class="text-white p-2" title="Facebook">   <i class="fab fa-facebook"></i></a>
     <a href="#" class="text-white p-2" title="Twitter">  <i class="fab fa-twitter"></i></a>
     <a href="#" class="text-white p-2" title="Instagram">    <i class="fab fa-instagram"></i></a>
     <a href="https://api.whatsapp.com/send?phone=919730694559" class="text-white p-2" title="Whatsapp">    <i class="fab fa-whatsapp"></i></a>
 
</div>